LD_RUNPATH_SEARCH_PATHS[sdk=macosx*]          = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=iphoneos*]        = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=iphonesimulator*] = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

SWIFT_OBJC_BRIDGING_HEADER = BNRSwiftJSONTests/BNRSwiftJSONTests-Bridging-Header.h
CLANG_ENABLE_MODULES = YES

INFOPLIST_FILE = BNRSwiftJSONTests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.bignerdranch.BNRSwiftJSON-Tests
PRODUCT_NAME = $(TARGET_NAME)

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
